.header {
  background-color: #303333;
}
.hero-section {
  background-color: #303333;
}
.hero-section__details {
  background-color: #303333;
}
.App {
  background-color: #303333;
}
.App__container {
  background-color: #303333;
}
.booking-step {
  background-color: #303333;
}

.header__title, .header__title-link {
    color: #347577;
    background-image: linear-gradient(90deg, #347577 0%, #50b9be 50%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    cursor: pointer;
    font-size: var(--text-default-size);
    font-weight: 400;
}

.header__link {
  color: #50b9be;
  font-weight: 600;
}

.header__button {
  color: #303333;
  background: radial-gradient(circle, rgba(80, 185, 190, 1) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-background-clip: content-box;
  -webkit-text-fill-color: transparent;
}

.step-number--touched .step-number__circle {
    background-color: #50b9be;
}
.step-number__circle {
  background-color: #303333;
}
.booking-step--touched .booking-step__body {
    border-image: linear-gradient(to bottom, #50b9be, rgba(0, 0, 0, 0)) 1 100%;
}
.step-number--touched .step-number__title {
    color: #FFFFFF;
}

.service-item__name {
  font-weight: bold;
  color: #347577;
  background-image: linear-gradient(90deg, #347577 0%, #50b9be 50%, #FFFFFF 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.booking-step__step-value {
    font-weight: bold;
    color: #347577;
    background-image: linear-gradient(90deg, #347577 0%, #50b9be 50%, #FFFFFF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.service-item__details {
  color: #FFFFFF;
  font-weight: 500;
  padding-left: 2vw;
}

.p--light-text {
    color: #50b9be;
    padding-left: 2vw;
}

.button--primary {
  background-color: #347577;
  color: #FFFFFF
}
.button--primary:hover {
    background-color: #50b9be;
}

.button--secondary {
    color: #FFFFFF;
}

.button--secondary:hover {
    color: #50b9be;
}

.select {
  background: #347577;
  border: .1rem solid;
  border-color: #50b9be;
}
.timetable {
  background: #303333;
}
.appointment-calendar .fc-timeGridWeek-view .fc-col-header-cell {
    background-color: #303333;
}

.fc-toolbar-chunk:nth-child(2) .fc-toolbar-title {
  color: #50b9be;
}

.fc-timegrid-slot-label-cushion {
  background: #303333;
  color: #50b9be;
  font-size: 1rem;
  font-weight: bold;
}

.fc-theme-standard td {
  border: 2px solid;
  border-color: #303333;
}

.day__week-day {
  color: #FFFFFF;
}

.day {
  color: #50b9be
}

.appointment-calendar__cell-button {
  background-color: #347577;
  color: #FFFFFF;
}

.appointment-calendar__cell-button:hover {
  background-color: #50b9be;
  color: #000000;
  font-weight: bold;
}




