.header {
  background-color: #303333; /*Header*/
}

.hero-section {
  background-color: #303333; /*Logoline*/
}

.hero-section__details {
  background-color: #303333; /*Logo*/
}

.App {
  background-color: #303333; /*Sidelines*/
}

.App__container {
  background-color: #303333; /*Around*/
}

.booking-flow {
  background-color: #303333; /*Background*/
}
