.header {
  background-color: #303333;
}

.hero-section {
  background-color: #303333;
}

.hero-section__details {
  background-color: #303333;
}

.App {
  background-color: #303333;
}

.App__container {
  background-color: #303333;
}

.booking-step {
  background-color: #303333;
}

.step-number--touched .step-number__circle {
    background-color: #50b9be;
}

.step-number__circle {
  background-color: #303333;
}

.booking-step--touched .booking-step__body {
    border-color: #50b9be;
}

.step-number--touched .step-number__title {
    color: #fff;
}
